<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.mapper.StaffMapper">

    <select id="findStaffBySid" parameterType="String" resultType="com.software.entity.Staff">
        SELECT * from stafflogin WHERE sta_ID=#{sid}
    </select>
</mapper>