<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离-->
<mapper namespace="com.software.mapper.UserMapper">

    <select id="findUserById" parameterType="String" resultType="com.software.entity.User">
        SELECT * FROM userInfo WHERE userID=#{uid}
    </select>
    <select id="findPwdById" parameterType="String" resultType="String">
        SELECT pwd FROM userlogin WHERE userID=#{uid}
    </select>
    <select id="countUserById" parameterType="String" resultType="int">
        SELECT COUNT(1) FROM userlogin WHERE userID=#{uid}
    </select>
</mapper>