*{
	margin: 0 auto;
}
.main{
	    width: 800px;
    margin-top: 100px;
}
.inputs{
	width: 250px;
	margin-left: 150px;
	margin-top: 5px;
}

.assert_table{
	margin-top: 10px;
	width: 600px;
}

.assert_table tr td div{
	width: 280px;
	margin-top: 5px;
}
.assert_table tr td:nth-child(1){
	text-align: right;
	width: 150px;
}
.assert_table tr td:nth-child(2) div{
	margin-left: 10px;

}

form{
	width: 600px;
}

#ts2,#ts1{
	left: 50px;
}
.assert_table{
	margin-top: 5px;
	width: 600px;
}
p span{
	margin-left: 200px;
}